<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949249720931-n3e54gr6adcd61983fa8vtva604nf3re.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949249720931-n3e54gr6adcd61983fa8vtva604nf3re</string>
	<key>API_KEY</key>
	<string>AIzaSyBBkdaP7fLKZ3_nXk0gYNGU-e0sek1KzPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>949249720931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.york.thirdappFirebase</string>
	<key>PROJECT_ID</key>
	<string>fir-york</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-york.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949249720931:ios:da679f77fb26c165b7ee56</string>
</dict>
</plist>